<section class="contest" fxLayoutAlign="center center">

  <mat-card class="contest-container">
      <mat-card-title>Tuesday, May 10</mat-card-title>
      <mat-card-content fxLayout="column" fxLayoutGap="30px" fxLayoutAlign="center center" class="each-container">
        <mat-card class="each-contest-container">
          <mat-card-content fxLayout >
            <div fxFlex="30%" >
              <div class="ctst-time">9.15</div><span>am</span>
            </div>
            
            <mat-divider [vertical]="true"></mat-divider>
            <mat-card-content fxFlex="70%">
              <mat-card-title>
                Codeforces Round #486 (Div. 2)
              </mat-card-title>
              <mat-card-subtitle>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis pellentesque lacus eleifend lacinia....
              </mat-card-subtitle>
            </mat-card-content>

          </mat-card-content>
        </mat-card>

        <mat-card class="each-contest-container">
          <mat-card-content fxLayout >
            <div fxFlex="30%" >
              <div class="ctst-time">10.15</div><span>pm</span>
            </div>
            
            <mat-divider [vertical]="true"></mat-divider>
            <mat-card-content fxFlex="70%">
              <mat-card-title>
                Codeforces Round #486 (Div. 1)
              </mat-card-title>
              <mat-card-subtitle>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis pellentesque lacus eleifend lacinia....
              </mat-card-subtitle>
            </mat-card-content>
            

          </mat-card-content>
        </mat-card>

        <mat-card class="each-contest-container">
          <mat-card-content >
            <div  class="ctst-time">10.15</div> 
            <span>AM</span>
          </mat-card-content>
        </mat-card>
        <mat-card class="each-contest-container">
          <mat-card-content >
            <div  class="ctst-time">9.15</div> 
            <span>AM</span>
          </mat-card-content>
        </mat-card>


      </mat-card-content>


  </mat-card>

  

</section>